<main class="main">
  <div class="content">
    <div class="grid grid-nogutter surface-section text-800">
      <div
        class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center"
      >
        <section>
          <span class="block text-6xl font-bold mb-1"
            >Trouvez le livre que vous cherchez</span
          >
          <div class="text-6xl text-primary font-bold mb-3">
            avec booksearch
          </div>
          <p class="mt-0 mb-4 text-700 line-height-3">
            Cherchez le(s) livre(s) en entrant des mots-clés.
          </p>

          <span class="p-input-icon-right">
            <i class="pi pi-search"></i>
            <input type="text" pInputText [(ngModel)]="value" />
          </span>
        </section>
      </div>
      <div class="col-12 md:col-6 overflow-hidden">
        <img
          src="https://picsum.photos/200/300"
          alt="Image"
          class="md:ml-auto block md:h-full"
          style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)"
        />
      </div>
    </div>
  </div>
</main>

<router-outlet />
