.card-image {
    width: auto; 
    object-fit: cover;
  }

  :host ::ng-deep {
    .p-card.p-component > .p-card-body > .p-card-title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 200px;
    }
  }

  :host ::ng-deep {
    .p-card.p-component > .p-card-body > .p-card-subtitle {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 200px;
    }
  }

  :host ::ng-deep {
    p-card.p-element {
     min-height: max-content;
    }
  }

  :host ::ng-deep {
    .p-button {
      margin: 0.25rem;
    }
  }