<main class="main">
  <div class="content">
    <div class="grid grid-nogutter surface-section text-800">
      <div
        class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center"
      >
        <section>
          <span class="block text-6xl font-bold mb-1"
            >Trouvez le livre que vous cherchez</span
          >
          <div class="text-6xl text-primary font-bold mb-3">
            avec booksearch
          </div>
          <p class="mt-0 mb-4 text-700 line-height-3">
            Cherchez le(s) livre(s) en entrant des mots-clés.
          </p>

          <span class="p-input-icon-right">
            <i class="pi pi-search"></i>
            <form (ngSubmit)="fetchData()">
              <input
                type="text"
                pInputText
                [(ngModel)]="value"
                name="searchQuery"
              />
              <p-button type="submit" [style]="{ marginLeft: '0.5em' }"
                >Rechercher</p-button
              >
            </form>
          </span>
        </section>
      </div>
      <img
      src="https://picsum.photos/200/300"
      alt="Image"
      class="md:ml-auto md:block hidden md:h-full"
      style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)"
    />
    </div>

    <!-- CARDS -->
    <div class ="grid justify-content-start">
        <ng-container *ngFor="let result of searchResults; let i = index">
          <div class="col-fixed">
            <ng-container *ngIf="searchResults[i]">
              <p-card [header]="searchResults[i].title" [title]="searchResults[i].title  +' - ' + searchResults[i].author " [subheader]="searchResults[i].author" [style]="{ marginLeft: '3em', width: '200px' }">
                <ng-template pTemplate="header">
                  <img alt="Card" [src]="searchResults[i].imgUrl" class="card-image" />
                </ng-template>
                <ng-template pTemplate="footer">
                  <p-button label="Consulter" icon="pi pi-eye"></p-button>
                </ng-template>
              </p-card>
            </ng-container>
          </div>
      </ng-container>
    </div>
    
  </div>
</main>

<router-outlet />
